DOMSERVER_USER=feed
DOMSERVER_PASSWORD=f3ed
CONTEST_ID=1

ADMIN_CDS_PW=adm1n
PRESADMIN_CDS_PW=presadm1n
BALLOON_CDS_PW=balloonPr1nter
PUBLIC_CDS_PW=publ1c
PRESENTATION_CDS_PW=presentat1on
MYICPC_CDS_PW=my1cpc
LIVE_CDS_PW=l1ve
