version: '2'
services:
    domserver:
        build: ./domserver
        ports:
            - "8080:80"
        environment:
            - DOMJUDGE_DB_PASSWORD=mysql_user_password
            - DOMJUDGE_DB_ROOT_PASSWORD=mysql_root_password
            - TIMEZONE=Europe/Amsterdam
    db:
        image: mariadb
        volumes:
            - ./db:/etc/mysql/conf.d
            - /var/lib/containers/domjudge_db:/var/lib/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=mysql_root_password
    phpmyadmin:
        restart: always
        image: phpmyadmin/phpmyadmin
        ports:
            - "8081:80"
        environment:
            - PMA_HOST=db
            - PMA_ABSOLUTE_URI=https://chipcie.ch.tudelft.nl/phpmyadmin
