# domserver
CONTAINER_TIMEZONE=Europe/Amsterdam
TRUSTED_PROXIES=127.0.0.0/8
MYSQL_HOST=mariadb
WEBAPP_BASEURL=/

# db
MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_USER=domjudge
MYSQL_PASSWORD=djpw
MYSQL_DATABASE=domjudge
